:root {
  --page-width: 964px;
  --primary-color: #1d262d;
  --secondary-color: #e6e7e9;
  --tertiary-color: #2b9eb3;
  --page-bg: #617687;
  --text-color: #444;
  --font-family: Arial, sans-serif;
  --unit: 16px;
  --font-unit: 16px;
  --border-radius: 5px;
  --border-color: #dde5ed;
}
